.wrapper {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
    color: var(--text-black-color);
    width: 100%;
    min-height: 40px;
}