.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
}

.menu-item {
    text-decoration: none;
    color: var(--text-color);
    min-width: 50px;
    height: 30px;
    line-height: 30px;
    font-family: Inter;
    font-weight: 800;
    font-size: 16px;
    margin: 0 8px;
    position: relative;
    &:hover{
        color: var(--primary-color);
        .line{ 
            &::before {
                left: 100%;
            }
        }
    }
}
.menu-item.active {
    color: var(--primary-color);
}
.menu-item.active {
    .line {
        transition: none;
        &::before {
            left: 100%;
        }

    }
}
.line {
    height: 4px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -20%;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: var(--sub-background-color);
        position: absolute;
        left: 0;
        bottom: 0;
        transition: left 0.3s ease-in;
    }
}