.wrapper {
    background-color: var(--sub-background-color);
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    margin-left: -80px;
}