.wrapper {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--sub-background-color);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    margin-left: -80px;
}