.input-parent {
    position: relative;
}
.label {
    position: absolute;
    top: 6%;
    left: 5%;
    color: var(--primary-color);
    font-size: 6px;
    transition: font-size ease-in 0.2s;
    background: #fff;
    visibility: hidden;
}
.input {
    width: 100%;
    padding: 14px;
    padding-left: 14px;
    padding-right: 40px;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    background-color: #F9FAFA;
    color: #9ca3af;
    margin: 8px 0;
    transition: border ease-in 0.2s;
    &:focus {
        border: 1px solid var(--primary-color);
        
    }
    &:focus ~.label {
        font-size: 12px;
        visibility: visible;
    }
      
}
.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    cursor: pointer;
}
.input-search {
    width: 270px;
    background-color: #fff;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}
.validation-email {
    color: red;
    font-size: 12px;
}
.received {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -5%;
    cursor: pointer;
    height: 44px;
}